*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body{
    background-image: url("imagens/star.jpg");
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
    background-position: center center;
    text-align: center;
}



.Center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
    
}



header{
    background-image: linear-gradient(to bottom, rgb(1, 15, 173), rgb(37, 38, 224), rgb(17, 63, 234) );
    padding: 20px 0;
   /* background-image: url("imagens/fundo.png");*/
    height: 180px;
}



.logo{
   width: 40%;
   
}


.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.menu a:hover{
  color: rgb(221, 221, 235);
  cursor: pointer;
}

.content{
    height: 520px;
    width: 923px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
  
.bar {
    width: 70px;
    height: 17px;
    border: 2px solid rgb(255, 255, 255);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .9s;
}
  
.bar:hover {
    background-color: rgb(255, 255, 255);
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
  margin-left: 0;  
}

#slide2:checked ~ .s1{
   margin-left: -20%; 
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

.fundo {
    
    background-image: linear-gradient(to bottom, rgb(6, 19, 68), rgb(5, 21, 104), rgb(4, 21, 122));
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 700px;
    
  }

.grupoABCD{
    width: 100%;
    padding-top: 60px;
    height: 430px;
    text-align: center;
    background-color: rgb(237, 239, 243);
    background-size: 100%;  
    margin-top: 0px;
   
    
       
}

.grupoEFGH{
    width: 100%;
    padding-top: 60px;
    height: 560px;
    text-align: center;
    background-color: rgb(237, 239, 243);
    background-size: 100%;  
    margin-top: px;
   
       
}

#picture1{
    width: 20%;
    height: 300px;
    margin-right: 40px;
    border-radius: 10px;
    position: static;
}


#picture2{
    
    width: 20%;
    height: 300px;
    border-radius: 10px;
    margin-right: 40px;
    
}


#picture3{
    width: 20%;
    height: 300px;
    border-radius: 10px;
    margin-right: 40px;
    
}

#picture4{
    width: 20%;
    height: 300px;
    border-radius: 10px;
    
}

.footer {
    background-image: linear-gradient(to bottom, rgb(6, 19, 68), rgb(5, 21, 104), rgb(4, 21, 122));
    color: rgb(255, 255, 255);
    position: absolute;
    top: 340%;
    left: 0px;
    width: 100%;
    height: 300px;
    text-align: center;
    
}


.menudois{
    padding-top: 15px;
    width: 89%;
    text-align: right;
}

.menudois a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 37px;
}

.menudois a:hover{
    color: rgb(195, 195, 203);
  }
 
.logodois{
    width: 15%;
    height: 10%;
    padding-top: 10px;
} 

.jogos{
    
    padding-top: 50px;
    text-align: left;
    height: 10%;
    margin-left: 50px;
    border-radius: 50px;
  
}

p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: ;
    width: 45%;
    padding-top: 50px;
    margin-left: 800px;
    
}



button{
    margin-top: 35px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(22,45,220);
    border: 1px solid rgb(22, 45, 220);
    padding: 15px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-right: 64%;
    font-size: 20px;
    width: 25%;
    height: 60px;   
    border-radius: 5px; 
}


 button:hover{
    background-color: rgb(13, 58, 255);
    color: white;
    transition: 0.5s; 
 }


 #descricao{
    margin-left: 400px;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
    
 } 

 